.section-nine {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  padding-top: 5%;
}

.nrightine {
  text-align: justify;
}
.nine-right-title {
  color: #1a938a;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 2%;
  letter-spacing: 0.365em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -90px;
}
.nine-right p {
  margin: 0;
}
.nine-right-head-one {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.dot-color {
  color: #1a938a;
}
.nine-right-list ul {
  text-align: justify;
  margin: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}
.nine-right-list {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: -50px;
  padding-top: 4%;
}

.nine-right-list ul li {
  list-style: none;

  /* padding: 1%; */
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #688192;
}

.nine-right-tag-btn {
  padding: 2% 10%;
  font-size: 16px;
  background-color: #ffffff;
  border: 2px solid #ec9a2b;
  border-radius: 4px;
  color: #ec9a2b;
  font-weight: 700;
  margin-left: -150px;
    margin-top: 5%;
}
.nine-right-tag-btn:hover {
  cursor: pointer;
}

.section-nine-left {
  padding-left: 2%;
}

.nine-img {
  height: 100%;
  width: 100%;
  /* background-image: url("../../images//bg9.png");
  background-repeat: no-repeat;
  background-size: 90%; */
}
.nine-form {
  display: flex;
  justify-content: center;
}
.form-tag img {
  width: 97%;
}
/* .form-tag {
  position: absolute;
  top: 10px;
  left: 100px;

  width: 80%;
} */
.nine-responsive-two {
  display: none;
}
@media screen and (max-width: 992px) {
  .nine-right-title {
  
    margin-left: 0px;
  }
  .nine-right-list {
   
    margin-left: 0px;
    padding-top: 4%;
  }
  .nine-right-tag-btn {
    
    margin-left: 0px;
      margin-top: 5%;
  }
  
  .nine-right-title {
    font-size: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
 .nine-div{
    margin-top: 15px;
  }
  .nrightine{
  }
  .nine-right-list ul {
    /* text-align: justify; */
    /* padding-left: 40%; */
  }
  .nrightine {
    margin-top: 25px;
  }
  .nine-right-tag-btn {
    margin-top: 5%;
  }
  .nine-right {
    text-align: center;
    margin-top: 25px;

  }

  .nine-responsive-two img {
    width: 90%;
  }
  .section-nine-left {
    display: none;
  }
  .nine-responsive-two {
    display: block;
    padding-top: 4%;
  }

  .nine-right-head-one {
    font-size: 30px;
  }
}
@media screen and (max-width: 520px) {
  .nine-right-head-one {
    font-size: 25px;
  }
}

@media screen and (max-width: 370px) {
  .nine-right-list ul {
    /* padding-left: 24%; */
  }
}
