.col-1 {
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.main-col {
  background-color: black;
}
.para {
  font-style: normal;
  font-weight: 500;
  font-family: 'Satoshi';
  font-size: 16px;
  line-height: 145%;
  /* or 23px */

  /* Gray / 700 */

  color: #688192;
}
.p1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  font-family: 'Satoshi';
  font-size: 24px;
  line-height: 135.5%;
  color: #043344;
}

.main-top {
  padding-top: 130px;
  /* margin: 8px; */
}
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.swing:hover .img8 {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.img8{
  width: 200px;
  height: 200px;
}


/* .img-hover-zoom {

  overflow: hidden; 
} */

/* .img-hover-zoom img {
  transition: transform 0.5s ease;
} */

/* .img-hover-zoom:hover img {
  transform: scale(1.5);
} */
/* the slides */
@media screen and (max-width: 630px) {
  .main-top {
    padding-top: 40px;
  }
  .para p{
    display: none;
  }
}