.videosec-p {
  font-style: normal;
  font-weight: 500;
  font-family: "Satoshi";
  font-size: 16px;
  line-height: 150%;
  color: #043344;
}

.videosec-h {
  width: 336px;
  font-style: normal;
  font-family: "Satoshi";
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #ec9a2b;
}
.back-videosec {
  background-image: url("../../images/videoimg.png");
  background-size: contain;
  background-position-x: 40px;
  background-repeat: no-repeat;
  margin-top: 70px;
  margin-bottom: 35px;
}
.video {
  width: 90%;
  border-radius: 14px;
  top: 70px;
  position: relative;
}
.video-sec-padding {
  padding: 130px;
}
@media screen and (max-width: 1135px) {
  .video {
    top: 90px;
  }
}
@media screen and (max-width: 992px) {
  .video {
    width: 80%;
    height: 235px;
    border-radius: 14px;
    top: 0px;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .videosec-h {
    font-size: 24px;
  }
  .videosec-p {
    width: 400px;
  }
  .back-videosec {
    background-position-x: 0px;
  }
  .video-sec-padding {
    padding: 0%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .video-sec-padding {
    padding: 0%;
    padding-top: 94px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    text-align: left;
    padding-left: 30px;
  }
  .videosec-h {
    margin: 0px !important;
  }
  .back-videosec {
    background-size: auto;
  }
}
.za-1 {
  padding-bottom: 50px;
}
@media screen and (max-width: 576px) {
  .za-1{
    padding-bottom: 0px
  }
  .title{
    letter-spacing: 0em
  }
  .videosec-p {
    width: 100%;
  }
  .back-videosec {
    margin-top: 5px;
    background-position-x: -40px;
    /* background-position-y: -15px; */
  }
  .video-sec-padding {
    padding-bottom: 0px;
    padding-top: 65px;
  }
}
